#profile{
    border: 1px 1px 1px 1px;
    border-color: white;
    border-style: solid;
    margin-top: 70px;
    margin-left: 490px;
    padding: 0px 0px 0px 0px;
    border-radius:500%;
    }
body{
        background-color: black;
    }
.myinfo{

    background-image: url(background.jpg);
    position: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}
.navbar-inner {
    background:transparent;
}

@font-face {
font-family: "CustomFont";
src : url("collegiate/CollegiateBlackFLF.ttf");

}
@font-face {
font-family: "CustomFont";
src : url("collegiate/CollegiateBlackFLF.ttf");
font-weight: bold;
}
nav {
    font-family: CustomFont;
    font-size: 25px;
    min-height: 100px;

}
.pers{
    color: #F3F59D;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    font-family: CustomFont;
}
.quote{
    margin-top: 100px;
    color: #F3F59D;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}
#intro{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255,255,255,0.6);

}
.lead,#below{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.parent{
    min-width: 100px;
    min-height: 50px;
}
