#profile{
    border: 1px 1px 1px 1px;
    border-color: white;
    border-style: solid;
    margin-top: 15%px;
    margin-left: 45%;
    padding: 0px 0px 0px 0px;
    border-radius:500%;
    }
body{
        background-color: black;
    }
.myinfo{

    background-image: url("./img/background.jpg");



}
.navbar-inner {
    background:transparent;
}

@font-face {
font-family: "CustomFont";
src : url("collegiate/CollegiateBlackFLF.ttf");

}
@font-face {
font-family: "CustomFont";
src : url("collegiate/CollegiateBlackFLF.ttf");
font-weight: bold;
}
nav {
    font-family: CustomFont;
    font-size: 25px;
    min-height: 100px;

}
.pers{
    color: #F3F59D;
    text-align: center;
    margin-top: 5px;


    font-family: CustomFont;
}
.heading{
    margin-top: 15%;
    color: #F3F59D;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    margin-bottom: 10%;
}
#intro{
    padding-top: 50px;
    border-bottom: 200px;
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255,255,255,0.6);

}
.lead,#below{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.pic{
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;

}
/* .box{
    height: 300px;
    width: 200px
} */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.toggle{

    filter: invert(100%);
}
.name{
    color:#ffdf00;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;

}
.footer{
    text-align: center;
    

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 500%;
  color: white;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}
.fa:hover {
    filter: invert(100%);
}
